.del_wrapper{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.del_2 {
    display: block;
    padding-top: 30px;
    max-width: 500px;
    margin : 0 auto;
    padding-right: 5%;
    padding-left: 5%;
}

.del_ta table {
    border-color: bisque;
    border-style: solid;
    border-width: 1px 0;
    text-align: center;
} /*테이블 전체*/

.del_ta table th {
    font-weight: 700;
    padding: 13px;
    white-space: nowrap;
    font-size: 0.9rem;
    background: bisque;
} /*제목*/



.del_ta table td {
    border-top: medium none;
    font-size: 0.8rem;
    padding: 15px 10px;
    vertical-align: middle;
    font-weight: 600;
} /*내용*/

.del_ta table td.del_date {
    width: 25%;
} /*주문 날짜*/

.del_ta table td.del_info {
    width: 40%;
} /*구매 정보*/

.del_ta table td.del_num {
    width: 10%;
} /*수량*/

.del_ta table td.del_pri {
    width: 20%;
} /*총 가격*/

.del_ta table td.del_con {
    width: 35%;
    border-right: 1px solid #FFFFFF;
} /*상태*/

a {
    text-decoration:none;
} /*상태 색*/