table, tr, .cart-list, .cart-top, .cart-item { width: 100%; }

table {
    height: 100%;
}

table {
    text-align: center;
}

tr {
    padding: 1%;
}

th {
    height: 5%;
}

.cart-top {
    background: #faebd7;
    display: inline-flex;
}

.cart-item {
    display: inline-flex;
    align-items: baseline;
    border-bottom: 2px solid beige;
}

.cart-top > div,
.cart-item > div {
    width: 100%;
    padding: 1.5% 0;
}

.cart-list {

}

.cart-item {
    height: 200px;
    padding: 2% 0;
}

.btn-area {
    padding: 0 2%;
    text-align: right;
    display: block;
}

.btn-area > button {
    margin: 2% 1%;
    width: 200px;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
}
