.cart_area,
.cart_area > form {
    margin: 0;
}

.item-header {
    width: 100%;
    display: inline-flex;
    padding-bottom: 3%;
    border-bottom: 5px solid antiquewhite;
}

.item-thumb {
    width: 45%;
    padding: 1%;
    margin-left: 15%;
    align-items: center;
    display: inline-flex;
}

.item-thumb > img {
    width: 100%;
}

.item-detail {
    margin-top: 3%;
    width: 90%;
}


.item_info {
    width: 65%;
}

.cart_area {
    margin-top: 10%;
}

.cart_area > form {
    text-align: center;
}

.buy_count_box {
    width: 100%;
}

.buy_count_box > button {
    padding: 0 2.5px 0 1px;
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
}

.buy_count_box > input {
    border: none;
    font-size: 18px;
    color: burlywood;
    text-align: center;
}

.buy_count_box > button,
.buy_count_box > input {
    width: 30px;
    height: 30px;
}

.item-thumb > img {
}
