.header_logo {
    position: relative;
    left: 20px;
}

.header_side {
    position: relative;
    left: 225px;
    bottom: 15px;
}

.main {
    position: relative;
    left: 46.5%;
    transform: translateX(-46.5%);
    width: 1000px;
    /*background-color: gainsboro;*/
    /*text-align: center;*/
}