.container-ad {
    width: 100%;
    margin-bottom: 4%;
}

.container-ad img {
    width: 90%;
    height: 30%;
    border-radius: 20px;
}

.main-container {
    width: 100%;
    text-align: center;
}

.container-box {
    width: 900px;
    border: 5px solid antiquewhite;
    border-radius: 20px;
    margin-bottom: 5%;
}

.item-warp {
    width: 820px;
    padding: 1% 2%;
    text-align: left;
    display: inline-flex;
    cursor: pointer;
    border-bottom: 2px solid antiquewhite;
}

.item-warp:hover {
    padding-top: 10px;
    background: beige;
    box-shadow: 1px 1px 1px 1px #F6F6F6;
    border-radius: 20px;
}

.item {
    padding: 0.5rem 1rem;
}

.thumbnail {
    width: 20%;
}

.thumbnail > img {
    width: 100%;
}

.desc {
    width: 65%;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 1%;
}

.desc > li {
    padding: 0.1em;
}

.desc.name {
    font-size: 16px;
    width: fit-content;
    background: beige;
    padding: 7px 15px !important;
    border-radius: 22.5px;
    font-weight: bolder;
}

.desc.price {
    color: darkgray;
    font-size: 16px;
    font-weight: bolder;
    font-family: NanumGothic;
    text-decoration: line-through;
}

.desc.discount,
.desc.fee,
.desc.category {
    color: dimgray;
    line-height: 1.75rem;
}

.desc.category {
    /*width: fit-content;*/
    /*background: beige;*/
    /*padding: 5px !important;*/
    /*border-radius: 22.5px;*/
    /*font-weight: bolder;*/
}
