.background_input_data {
    width: 710px;
    height: 1000px;
    background: linen;
    position: relative;
    left: 140px;
    padding: 20px 100px 30px 100px;
    margin-top: 25px;
    margin-bottom: 20px;
}


.input_data_title {
    font-size: 28px;
    color: darkslategray;
    margin-bottom: 0px;
    margin-left: 30px;
}

.intro {
    color: dimgray;
}

 hr {    /*border은 hr에서 그림자를 말함-지저분, 높이, 색*/
     border: 0px;
     height: 2px;
     background: bisque;
 }

label {
    font-size: 17px;
    color: darkblue;
    font-width: 100;
    margin-right: 30px;

}


.notice {
    font-size: 12px;
    color: dimgray;
    margin-left: 70px;
    margin-top: 3px;
}


#input_item_name {
    width:610px;
    height:30px;
}


.item_category {
    width: 150px;
    height: 32px;
}